Body {
    font-family: 'poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.colourful {
    color: cornflowerblue;
}

section {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 7%;
}

.half-width img {
    width: 70%;
}

.hire-button {
    text-decoration: none;
    background-image: linear-gradient(blue, rgb(110, 181, 240));
    padding: 10% 40%;
    color: rgb(165, 210, 248);
    font-weight: 400;
    border-radius: 5%;
}

.topB {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}